{% extends 'layouts/base.html' %}
{% load heroicons %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/user/all_users.css' %}">
{% endblock %}
{% block title %}PROGRAM PEOPLE{% endblock %}

{% block content %}
    <div class='w-100 h-100 overflow-hidden with-sidebar'>
        {% include "admin/components/sidebar.html" %}
        <div class='w-100 h-100 overflow-hidden py-2 px-3 bd-container'>
            <div class='shadow-sm cmn-header'>
                <span class="cmn-title">
                    {{ program.name }} {% heroicon_outline 'chevron-right' class='icon' %} People
                </span>
            </div>
            <div class='shadow-sm cmn-body'>
                <div class="cmn-container p-3">
                    <div class='position-absolute w-100 h-100 overflow-scroll pb-3 pe-4'>
                        <div class='d-flex justify-content-between'>
                            <h4 class="m-0">Teachers</h4>
                            <a href="{% url 'sum_admin:program_teachers' program.program_id %}" class="total">{{ teachers|length }} Teachers</a>
                        </div>
                        <ul class='p-0 mb-5'>
                            {% for teacher in teachers %}
                                <li class='d-flex justify-content-between align-items-center gap-3 border-bottom border-dark-subtle p-3'>
                                    {% heroicon_outline 'user' class='icon p-2' %}
                                    <span>
                                        {{ teacher.nickname|default:"(No Nickname)" }}
                                    </span>
                                    <span></span>
                                    <span></span>
                                    <span>
                                        <a href="{% url 'sum_admin:remove_user' program.program_id teacher.user_id %}" data-bs-toggle="tooltip" title="Remove User">
                                            {% heroicon_outline 'x-mark' class='text-danger' size="24px" %}
                                        </a>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>

                        <div class='d-flex justify-content-between'>
                            <h4 class="m-0">Students</h4>
                            <a href="{% url 'sum_admin:program_students' program.program_id %}" class="total">{{ students|length }} Students</a>
                        </div>
                        <ul class='p-0 m-0'>
                            {% for student in students %}
                                <li class='d-flex justify-content-between align-items-center gap-3 border-bottom border-dark-subtle p-3'>
                                    {% heroicon_outline 'user' class='icon p-2' %}
                                    <span>
                                        {{ student.nickname|default:"(No Nickname)" }}
                                    </span>
                                    <span>{{ student.student_code }}</span>
                                    <span>{{ student.get_payment_status_display }}</span>
                                    <span>
                                        <a href="{% url 'sum_admin:remove_user' program.program_id student.user_id %}" data-bs-toggle="tooltip" title="Remove User">
                                            {% heroicon_outline 'x-mark' class='text-danger' size="24px" %}
                                        </a>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
    <div class="alert-msg">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/admin/user/all_users.js' %}"></script>
{% endblock %}