@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Black";
  font-weight: 900;
  src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-SemiBold";
  font-weight: 600;
  src: url("../fonts/Roboto-SemiBold.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Thin";
  font-weight: 200;
  src: url("../fonts/Roboto-Thin.ttf");
}

* {
  font-family: "Roboto-Regular", serif;
  max-width: 100%;
}

:root {
  --primary-color: #f9a755;
  --primary-tint-color: #f9b575;
  --secondary-color: #f05555;
  --secondary-tint-color: #f15a5a;
  --acent-color: #054a91;
  --acent-tint-color: #3e7cb1;
  --text-color: #434343;
  --secondary-text-color: #f5f5f5;
  --bg-color: #ffffff;
  --secondary-bg-color: #f0f0f0;
  --border-color: #ededed;
  --secondary-border-color: #c1c1c1;
  --success: #90eeab;
}

body {
  font-weight: 400;
  color: var(--text-color) !important;
}

/* Nav */
.nav--style {
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
}

/* modefined navbar boostrap class */
.navbar-brand {
  width: 60px;
}

#navbarNav.navbar-collapse {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--bg-color);
  padding-left: 35px;
}

.nav--toggler {
  border: none;
  outline: none;
  padding: 5px !important;
}
.nav--toggler:focus {
  box-shadow: none;
}
.nav--toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: none;
}
.nav--toggler[aria-expanded="true"] .navbar-toggler-icon::before {
  content: "X";
  width: 100%;
  height: 100%;
  font-size: 30px;
}

.navbar-nav .nav-link.active,
.nav-link:hover {
  color: var(--secondary-color);
}

@media (min-width: 992px) {
  #navbarNav.navbar-collapse {
    position: relative;
    background: none;
    padding: 0;
  }
}

/* End Nav */

/* Layout Main */
.layout {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--secondary-bg-color);
}
/* End Layout Main */

/* footer */
footer {
  background-color: var(--bg-color);
}
/* End footer */
