@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Black";
  font-weight: 900;
  src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-SemiBold";
  font-weight: 600;
  src: url("../fonts/Roboto-SemiBold.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Thin";
  font-weight: 200;
  src: url("../fonts/Roboto-Thin.ttf");
}

* {
  font-family: 'Roboto-Regular', serif;
  max-width: 100%;
}

:root {
  --primary-color : #F9A755;
  --primary-tint-color: #F9B575;
  --secondary-color : #F05555;
  --sedondary-tint: #F15A5A;
  --acent-color : #054A91;
  --acent-tint-color:#3E7CB1 ;
  --text-color: #434343;
  --secondary-text-color : #F5F5F5;
  --bg-color: #FFFFFF;
  --secondary-bg-color :#F0F0F0 ;
  --border-color : #EDEDED;
  --secondary-border-color: #c1c1c1;
  --success: #90EEAB;
}

body {
  font-weight: 400;
}

.navbar-brand {
  width: 60px;
}