.class--operation {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto 1fr;

    gap: 10px;
}

.operation--header {
    height: 70px;
    background-color: var(--bg-color);
    border-radius: 5px;

    padding: 5px 10px 5px 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.operation--header .class--title {
    font-size: 1.5rem !important;
}

.operation--body {
    background-color: var(--bg-color);
    border-radius: 5px;

    /* padding: 10px 20px; */
}

.operation--form {
    width: 95%;
    margin: auto;
}

.operation--form .form-group input::placeholder {
    font-size: 0.8rem;
    font-style: italic;
}

.operation--form-btn {
    color: var(--secondary-text-color);
    background-color: var(--secondary-color);

    border-radius:5px !important ;
    padding: 5px 10px;
    border: none;
    outline: none;
}

/* Activity  and module Items */
.create--btn {
    color: var(--secondary-text-color);
    font-size: 1rem;
    display: inline-block;
    
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 5px 10px;
}

.class--activity .activity--item , .module--item , .assignment--item{
    height: 79px;
    background-color: var(--bg-color);
    border: 0.5px solid var(--secondary-border-color);
    border-radius: 4px;

    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-items: start;
}

.class--activity .activity--item > div:last-child , .module--item > div:last-child ,.assignment--item > div:last-child {
    width: 100%;
}

.activity--item .activity--icon , .module--icon , .assignment--icon {
    display: block;
    width: 50px;
    height: 50px;

    background-color:var(--secondary-bg-color);
}

.assignment--icon.done{
    color: var(--secondary-text-color);
    background-color: var(--success);
}

.activity--group , .module--group ,.assignment--group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.activity--group .label , .module--group .label , .assignment--group .label {
    color: #A3A3A3;
    font-size: 0.8rem;
}

.activity--group .description , .module--group .description , .assignment--group .description{
    font-size: 0.9rem;
}


/* Module */
.class--module{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.module--header {
    border-bottom: 0.5px solid var(--border-color);
}

.module--selector {
    font-size: 1.1rem;
    padding: 5px 20px;
    border-radius: 5px;
    /* appearance: none; */
}

.module--selector:focus {
    outline: none;
}

.module--selector option:checked {
    color: var(--secondary-text-color);
    background-color: var(--secondary-color);
}

/* Assignment */
.class--assignment{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.assignment--header{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.assignment--nav {
    justify-self: center;
}

.assignment--nav ul li a {
    color: var(--text-color);
}

.assignment--nav ul li a.active {
    color: var(--secondary-color);
}

.assignment--nav ul li a:hover {
    color: var(--secondary-color);
}

.assignment--nav span {
    color: rgb(149, 149, 149);
}

.assignment--group a {
    display: block;

    color: var(--secondary-text-color);
    font-size: 1rem;

    background-color: var(--acent-tint-color);
    border-radius: 5px;
    padding: 5px 10px;

}

.assignment--group a:hover {
    background-color: var(--acent-color);
}

.assignment--details {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

#back-button {
    color: var(--secondary-text-color);
    background-color: var(--secondary-color);

    border: none;
    border-radius: 5px;
    outline : none; 

    padding: 5px 10px;

}

.details {
    width: 90%;
    margin : auto;
}

.details--header {
    padding: 10px 0;
    border-bottom: 1px solid var(--secondary-bg-color);
}

.details--header label , .details--body label {
    color: #A3A3A3;
    margin-bottom: 5px;
}

.details--body {
    padding: 10px 0;
}

.details--body p {
    letter-spacing: 0.1px;
    line-height: 1.9rem;
}

.details form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}


.details form button {
    color: var(--secondary-text-color);
    background-color: var(--secondary-color);

    border: none;
    border-radius: 5px;
    outline: none;

    padding: 5px 10px;

}


/* Classes Schedule */
#schedule--table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#schedule--table thead {
    background-color: #cacafb;
}

#schedule--table th {
    font-size: 0.6rem;
}

#schedule--table td {
    font-size: 0.7rem;
}

#schedule--table th, #schedule--table td {

    padding: 12px;
    border:1px solid var(--border-color);
    cursor: pointer;
    user-select: none;
}

#schedule--table th::after {
    content: ' -';
}

#schedule--table th.sort-asc::after {
    content: ' ▲';
}

#schedule--table th.sort-desc::after {
    content: ' ▼';
}

#schedule--table tbody tr:nth-child(even){
    background-color: #f2f2f2;;
}

@media (max-width : 800px) {
    .assignment--header {
        grid-template-columns: 1fr;
    }

    .assignment--header h6 {
        text-align: center;
        margin-bottom: 15px !important;
    }

}


@media (max-width : 699px) {

    .operation--header .class--title {
        font-size: 0.9rem !important;
    }

    /* Activity */
    .activity--item , .module--item  , .assignment--item{
        padding: 5px 10px !important;
    }

    .activity--item .activity--icon , .module--item .module--icon , .assignment--item .assignment--icon{
        display: block;
        width: 30px;
        height: 30px;
    
        background-color:var(--secondary-bg-color);
    }

    .activity--item .activity--icon .icon , .module--icon .icon , .assignment--icon .icon {
        width:20px !important;
        height:20px !important;
    }

    .activity--group .label , .module--icon .label , .assignment--icon .label{
        font-size: 0.5rem;
    }

    .activity--group .description , .module--group .description , .assignment--group .description  {
        font-size: 0.6rem;
    }

    .module--header {
        flex-direction: column;
    }


    .module--header h6 {
        font-size: 0.9rem;
    }

    .module--selector {
        font-size: 0.8rem;
        padding: 5px 10px;
        border-radius: 5px;
        /* appearance: none; */
    }

}


@media (max-width : 470px) {

    .class--operation{
        padding: 5px !important;
        gap: 5px;
    }

    .operation--header {
        height: 60px;
    }

    .operation--header .class--title {
        font-size: 0.8rem !important;
    }

    .create--btn {
        color: var(--secondary-text-color);
        font-size: 0.5rem;
        display: inline-block;
        
        background-color: var(--secondary-color);
        border-radius: 5px;
        padding: 5px 10px;
    }

    /* Activity */
    .activity--item , .module--item  , .assignment--item{
        width: auto;
        height: 9rem !important;
        grid-template-columns: 1fr !important;
    }

    .activity--item div {
        width: 100%;
    }

    .activity--item div , .module--item div , .assignment--item div {
        justify-content: start !important;
        padding: 0px 5px;
    }

    .activity--item > :last-child , .module--item > :last-child , .assignment--item > :last-child{
        border-top: 1px solid var(--secondary-border-color) ;
    }

    .activity--item .activity--icon , .module--icon , .assignment--icon{
        display: block;
        width: 40px;
        height: 40px;
    }


    .activity--group ,  .module--group ,.assignment--group{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .activity--group .label , .module--group .label , .assignment--group .label {
        color: #A3A3A3;
        font-size: 0.6rem;
    }

    .activity--group .description , .module--group .description , .assignment--group .description{
        font-size: 0.7rem;
    }
    
    .module--selector {
        font-size: 0.5rem;
        padding: 3px 8px;
        border-radius: 5px;
        /* appearance: none; */
    }

    /* Assignment */

    .assignment--nav ul li a {
        font-size: 0.7rem;
    }

    .assignment--nav span {
        font-size: 0.7rem;
    }
}