.profile{
    width: 95%;
    height: auto;
    margin: auto;
    padding: 10px 20px;
}

.logout--btn,
.back-btn {
    color: var(--secondary-text-color);
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 5px 10px;
}

.back-btn {
  background-color: var(--text-color);
}

.profile--form{
    background-color: var(--bg-color);
    border-radius:5px;
    padding: 10px 20px;
}

.button-gp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile--input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
    align-items: center;

    border-bottom:1px solid var(--border-color) ;
    padding: 10px 10px;
    margin-top: 10px;
}

.profile--submit{
    color: var(--secondary-text-color);
    background-color: var(--secondary-color);

    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

@media (max-width: 768px) {
  .button-gp {
    flex-direction: column;
  }
}


@media (max-width : 470px) {

    .profile{
        width: 100%;
        height: auto;
        margin: auto;
        padding: 10px 20px;
    }


    .profile--input {
        grid-template-columns: 1fr;
    }

}