
.program--layout {
    display: grid;
    grid-template-columns: 1fr 5fr;

    /* background-color: var(--secondary-bg-color); */
}

@media (max-width : 1159px) {
    
    .program--layout {
        grid-template-columns: 1fr 4.5fr;
    }
}


@media (max-width : 699px) {
    .program--layout {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }
}