
.student--dashboard {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    row-gap: 2rem;
}

.card--student {
    width: 22.8rem;
    height: 16.5rem;
    color: var(--text-color) !important;
}

.card--student .card-body{
    display : grid !important;
    grid-template-rows: auto 1fr auto;
}

.card--student .card--btn{
    background-color: var(--acent-tint-color);
    color: var(--secondary-text-color);
}

.card--btn-danger{
    color: var(--acent-tint-color);
}
.card--btn-danger:hover {
    color: var(--secondary-color);
}

.card--student .card--btn:hover{
    background-color: var(--acent-color);
}