.side--bar{
    background-color: var(--bg-color);
    border-top: 1px solid var(--border-color);
}

.side--nav {
    width: 100%;
}

.side--nav li a {
    display: block;
    width: 100%;
    color: var(--text-color);    
    padding: 8px 10px 8px 10px;
    margin-bottom: 5px;
}

.side--nav li a:hover, .side--nav li a.active {
    color: var(--secondary-text-color);
    background-color: var(--secondary-color);
} 


@media (max-width : 1041px) {
    .side--bar {
        padding: 0 !important;
    }
}

@media (max-width : 849px) {
    .side--nav li a {
        font-size: 0.7rem;
    }

    .side--nav li a svg {
        width: 15px;
        height: 15px;
    }
}

@media (max-width : 699px) {
    .side--bar {
        grid-row: 2;
        justify-self: center;

        border-radius: 50px;
        padding: 5px 10px 5px 10px !important;
    }


    .side--nav {
        display: flex;
        flex-direction: row !important;
        gap: 2px;
        padding: 0 !important;
        margin: 0 !important;
    }

    .side--nav li a {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-bottom: 0;

        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

    }

    .side--nav li a svg {
        width: 20px;
        height: 20px;
    }

    .side--nav  li a span {
        display: none;
    }
} 
