
.cmn-title .icon {
  width: 20px;
  height: 20px;
  font-weight: 400;
}

.user-table th {
  background-color: var(--primary-tint-color);
}

.user-table th {
  border: 2px solid var(--primary-color);
}

.user-table td {
  border: 1px solid var(--border-color);
}

.dataTables_wrapper .dataTables_filter {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.dataTables_filter input,
.dataTables_filter label:focus {
  outline: none;
  border: 1px solid var(--secondary-border-color);
}

.dataTables_wrapper .dataTables_length select {
  margin: 0 5px;
  padding: 4px 6px;
  border-radius: 5px;
}

.dataTables_wrapper .dataTables_paginate {
  padding-top: 12px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
  margin: 0 2px;
  padding: 4px 10px;
  border: 1px solid var(--secondary-border-color);
  border-radius: 5px;
  color: var(--text-coloc);
  font-weight: 500;
  background-color: var(--background-color);
  transition: background-color 0.2s ease;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  border: 1px solid var(--primary-tint-color);
  background-color: var(--primary-tint-color);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: var(--primary-tint-color);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  opacity: 0.8;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  border: 1px solid var(--secondary-border-color);
  cursor: not-allowed;
}

table.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_desc:before,
table.dataTable thead>tr>th.sorting_asc_disabled:before,
table.dataTable thead>tr>th.sorting_desc_disabled:before,
table.dataTable thead>tr>td.sorting:before,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_desc:before,
table.dataTable thead>tr>td.sorting_asc_disabled:before,
table.dataTable thead>tr>td.sorting_desc_disabled:before {
  content: "⏶"/"";
}

table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting_asc:after,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>th.sorting_asc_disabled:after,
table.dataTable thead>tr>th.sorting_desc_disabled:after,
table.dataTable thead>tr>td.sorting:after,
table.dataTable thead>tr>td.sorting_asc:after,
table.dataTable thead>tr>td.sorting_desc:after,
table.dataTable thead>tr>td.sorting_asc_disabled:after,
table.dataTable thead>tr>td.sorting_desc_disabled:after {
  content: "⏷"/"";
}

.w4 {
  width: 4%;
}