{% extends 'layouts/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}
{% block title %}Admin Login{% endblock %}

{% block content %}
<div class="row justify-content-center align-items-center mx-auto pt-5">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-lg">
            <div class="card-header text-center bg-blue-n text-white">
                <h4 class="my-1">SUM Admin Login</h4>
            </div>
            <div class="card-body">
                {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
                <form method="POST" action="{% url 'sum_admin:admin_login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" id="email" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" id="password" class="form-control" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-login">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}