{% extends 'layouts/base.html' %}
{% load static %}
{% load heroicons %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/profile/profile.css' %}">
{% endblock %}

{% block title %}TEACHER PROFILE{% endblock %}

{% block content %}
    {% if messages %}
        <div class="alert-msg">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="admin-profile-pg">
        <div class="col-11 col-md-6 mx-auto mt-2 mb-3 d-flex justify-content-between">
            <a href="{% url 'sum_teacher:teacher_dashboard' %}" class="btn btn-icon"  data-bs-toggle="tooltip"title="Back">
                {% heroicon_outline "arrow-left" class="h-6 w-6 text-dark" %}
            </a>
            <a href="{% url 'sum_teacher:logout' %}" class="btn btn-icon" data-bs-toggle="tooltip" title="Logout">
                {% heroicon_outline "arrow-left-start-on-rectangle" class="h-6 w-6 text-danger" %}
            </a>
        </div>
    
        <div class="profile-container col-11 col-md-6 mx-auto">
            <div class="profile-card">
                <p><strong>Name:</strong> {{ user.name }}</p>
                <p><strong>Code:</strong> {{ user.user_code }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Phone:</strong> {{ user.phone_no|default:"-" }}</p>
            </div>
        </div>
    </div>
{% endblock %}
