.total-card .card{
  border: none;
  box-shadow: 0 0 10px var(--border-color);
}

.total-card .card:hover {
  box-shadow: 0 0 5px var(--secondary-border-color);
}

.total-card .card .card-body {
  display: flex;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.total-info {
  max-width: 65%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text-color);
}

.total-icon {
  border-radius: 50%;
  padding: 10px;
  background-color: var(--primary-tint-color);
}

.total-icon .icon {
  color: var(--secondary-color);
  width: 60px;
}

.total-info .total {
  font-size: 2rem;
  font-weight: 600;
}

.total-info .total-label {
  font-size: 1.2rem;
  font-weight: 400;
}

#program-form {

  color: var(--text-color) !important;

  width: 70%;
  height: auto;
  background-color: var(--bg-color);
  padding: 20px;

  border-radius: 5px;
}

#program-form .form--group {
  display: flex;
  flex-direction: column;
}

#program-form .form--group label {
  color: rgb(131, 131, 131);
  font-size: 0.8rem;
}


#program-form .form--group .form--input{
  padding: 5px 10px;
  outline: none;

  border: none;
  border: 1px solid var(--secondary-border-color);
  border-radius: 5px;
}

#program-form .form--group .form--input::placeholder {
  font-size: 0.7rem;
  font-style: italic;
}

#program-form .form--date {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

#program-create--btn {
  color: var(--secondary-text-color);
  font-size: 1.5rem;
  border :none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;

  background-color: var(--secondary-color);
}

@media (max-width : 645px) {
  #program-form .form--date {
    grid-template-columns: 1fr !important;
    gap:10px;
  }
}

@media (max-width : 500px) {
  #program-form {

    color: var(--text-color) !important;

    width: 98%;
    height: auto;
    background-color: var(--bg-color);
    padding: 20px;

    border-radius: 5px;
  }
}