{% load heroicons %}

<aside class='d-flex justify-content-between flex-column p-3 side--bar my-2'>
  
    <ul class='position-relative d-flex flex-column justify-content-center  p-3 mt-4 side--nav'>
        <li>
            <a href="{% url "sum_student:activity" program.program_id %}" class="{% if request.resolver_match.url_name == 'activity' or request.resolver_match.url_name == 'activity_create' %}active{% endif %}">
                {% heroicon_outline 'rocket-launch' size='20px' %} 
                <span>Activities</span></li>
            </a>
        <li> 
            <a href="{% url "sum_student:module_redirect" program.program_id %}" class="{% if request.resolver_match.url_name == 'module' or request.resolver_match.url_name == 'show_turorial_details' %}active{% endif %}">
                {% heroicon_outline 'book-open' size='20px' %} 
                <span>Modules</span>
            </a>
        </li>
        <li>
            <a href="{% url "sum_student:assignment_redirect" program.program_id %}" class="{% if request.resolver_match.url_name == 'assignment' or request.resolver_match.url_name == 'show_assignment_details'  %}active{% endif %}">
                {% heroicon_outline 'newspaper' size='20px' %}
                <span>Assignment</span>
            </a>
        </li>
        <li>
            <a href="{% url "sum_student:people" program.program_id %}" class="{% if request.resolver_match.url_name == 'people' %}active{% endif %}">
                {% heroicon_outline 'user' size='20px' %}
                <span>People</span>
            </a>
        </li> 
        <li>
            <a href="{% url "sum_student:classes" program.program_id %}" class="{% if request.resolver_match.url_name == 'classes' %}active{% endif %}">
                {% heroicon_outline 'calendar-date-range' size='20px' %}
                <span>Classes</span>
            </a>
        </li> 
        <li>
            <a href="{% url "sum_student:leave" program.program_id %}" class="{% if request.resolver_match.url_name == 'leave' or request.resolver_match.url_name == 'leaveform' or request.resolver_match.url_name == 'leavecreate' %}active{% endif %}">
                {% heroicon_outline 'hand-raised' size='20px' %}
                <span>Leave</span>
            </a>
        </li> 
        <li>
            <a href="{% url "sum_student:program_profile" program.program_id %}"
                class="{% if request.resolver_match.url_name == 'program_profile' or request.resolver_match.url_name == 'show_edit_nickname' %}active{% endif %}">
                {% heroicon_outline 'user' size='20px' %}
                <span>Profile</span>
            </a>
        </li> 
    </ul> 

    <div class="logout--btn px-3 d-none d-md-inline-block">
        <a href="{% url 'sum_student:logout' %}" class="logout-btn">
            {% heroicon_outline 'arrow-left-start-on-rectangle' size='20px' %}
            <span>Logout</span>
        </a>
    </div>
</aside>