{% extends 'layouts/base.html' %}
{% load static %}
{% load heroicons %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/profile/edit_password.css' %}">
    {% endblock %}

{% block title %}Edit Password{% endblock %}

{% block content %}
    <div class="admin-password-edit-pg col-11 col-md-6 mx-auto mt-5">
        <div class="card shadow-sm p-4 rounded-4">
            <h4 class="mb-3">Edit Password</h4>
            <form method="POST" action="{% url 'sum_admin:update_admin_password' %}">
                {% csrf_token %}
                <div class="mb-3 position-relative">
                    <label for="old_password" class="form-label">Password</label>
                    <input type="password"
                           class="form-control {% if errors.old_password %}is-invalid{% endif %}"
                           id="old-password" name="old_password"
                           placeholder="********">
                    {% if errors.old_password %}
                        <div class="invalid-feedback">{{ errors.old_password }}</div>
                    {% endif %}
                
                    <button type="button" class="eye-icon" id="toggle-old-password">
                        <span id="old-eye-visible" class="d-block">
                            {% heroicon_outline "eye" class="w-5 h-5 text-secondary" %}
                        </span>
                        <span id="old-eye-hidden" class="d-none">
                            {% heroicon_outline "eye-slash" class="w-5 h-5 text-secondary" %}
                        </span>
                    </button>
                </div>

                <div class="mb-3 position-relative">
                    <label for="new_password" class="form-label">New Password</label>
                    <input type="password"
                           class="form-control {% if errors.new_password %}is-invalid{% endif %}"
                           id="new-password" name="new_password"
                           placeholder="********">
                    {% if errors.new_password %}
                        <div class="invalid-feedback">{{ errors.new_password }}</div>
                    {% endif %}
                
                    <button type="button" class="eye-icon" id="toggle-new-password">
                        <span id="new-eye-visible" class="d-block">
                            {% heroicon_outline "eye" class="w-5 h-5 text-secondary" %}
                        </span>
                        <span id="new-eye-hidden" class="d-none">
                            {% heroicon_outline "eye-slash" class="w-5 h-5 text-secondary" %}
                        </span>
                    </button>
                </div>

                <div class="mb-3 position-relative">
                    <label for="cf_password" class="form-label">Confirm Password</label>
                    <input type="password"
                           class="form-control {% if errors.cf_password %}is-invalid{% endif %}"
                           id="cf-password" name="cf_password"
                           placeholder="********">
                    {% if errors.cf_password %}
                        <div class="invalid-feedback">{{ errors.cf_password }}</div>
                    {% endif %}
                
                    <button type="button" class="eye-icon" id="toggle-cf-password">
                        <span id="cf-eye-visible" class="d-block">
                            {% heroicon_outline "eye" class="w-5 h-5 text-secondary" %}
                        </span>
                        <span id="cf-eye-hidden" class="d-none">
                            {% heroicon_outline "eye-slash" class="w-5 h-5 text-secondary" %}
                        </span>
                    </button>
                </div>

                <div class="mx-auto mt-2 d-flex justify-content-between">
                    <a href="{% url 'sum_admin:show_admin_profile' %}" class="btn btn-icon" data-bs-toggle="tooltip" title="Back">
                        {% heroicon_outline "arrow-left" class="h-6 w-6 text-dark" %}
                    </a>
                    <button type="submit" class="btn btn-icon" data-bs-toggle="tooltip" title="Save">
                        {% heroicon_outline "arrow-down-tray" class="w-5 h-5 text-success" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/admin/profile/edit_password.js' %}"></script>
{% endblock %}