.card.program-card {
  border: 1px solid var(--secondary-tint-color);
}

.card.program-card .card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 5px 0 10px;
  border-bottom: 1px solid var(--secondary-tint-color);
}

.card.program-card .card-body {
  padding: 10px 0 5px;
}

.program:hover .card.program-card {
  border: 1px solid var(--primary-color);
}

.program:hover .card.program-card .card-title {
  border-bottom: 1px solid var(--primary-color);
}

.program-create-btn {
  display: inline-block;
  position: absolute;
  right: 40px;
  bottom: 30px;
  padding: 5px;
  border-radius: 50%;
  color: var(--secondary-text-color);
  z-index: 100;
  background-color: var(--primary-color);
}