.admin-dashboard {
  padding-top: 4.5rem !important;
}

.card.program-card {
  border: 1px solid var(--secondary-tint-color);
}

.card.program-card .card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 5px 0 10px;
  border-bottom: 1px solid var(--secondary-tint-color);
}

.card.program-card .card-body {
  padding: 10px 0 5px;
}

.program:hover .card.program-card {
  border: 1px solid var(--primary-color);
}

.program:hover .card.program-card .card-title {
  border-bottom: 1px solid var(--primary-color);
}

.program-create-btn {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  padding: 5px;
  border-radius: 50%;
  color: var(--secondary-text-color);
  z-index: 100;
  background-color: var(--primary-color);
}

.control-panal {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  max-width: 1440px;
  width: calc(100% - 20px);
}
