/* Classes Schedule */
#schedule--table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

#schedule--table thead {
  background-color: var(--primary-tint-color);
}

#schedule--table th {
  font-size: 0.9rem;
}

#schedule--table td {
  font-size: 0.9rem;
}

#schedule--table th, #schedule--table td {

  padding: 12px;
  border:1px solid var(--border-color);
  cursor: pointer;
  user-select: none;
}

#schedule--table th::after {
  padding-left: 3px;
}

#schedule--table th.sort-asc::after {
  content: "⏶"/"";
}

#schedule--table th.sort-desc::after {
  content: "⏷"/"";
}

#schedule--table tbody tr:nth-child(even){
  background-color: #f2f2f2;;
}

.cmn-container .icon {
  width: 20px;
}