<div class="position-absolute w-100 h-100 overflow-x-hidden overflow-y-scroll p-3">
    <form id="assignment-create-form" class="p-2 mt-2 operation--form"
        method="POST" enctype="multipart/form-data" action="{% url 'sum_teacher:create_assignment' program.program_id %}">
        {% csrf_token %}
        <div class="d-flex flex-column gap-2">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title"
                    value="{{ form_data.title|default:'' }}" placeholder="Enter Title" />
                {% if errors.title %}<small class="text-danger">{{ errors.title }}</small>{% endif %}
            </div>

            <div class="form-group">
                <label for="end_date">Due Date</label>
                <input type="date" class="form-control" id="end_date" name="end_date"
                    value="{{ form_data.end_date|default:'' }}" />
                {% if errors.end_date %}<small class="text-danger">{{ errors.end_date }}</small>{% endif %}
            </div>

            <input type="hidden" name="type" id="type" value="2" />

            <div class="form-group">
                <label for="module_id">Module</label>
                <select class="form-select" id="module_id" name="module_id">
                    {% for module in modules %}
                        <option value="{{ module.module_id }}"
                            {% if form_data.module_id == module.module_id|stringformat:"s" %}selected{% endif %}>
                            {{ module.module_code }}
                        </option>
                    {% endfor %}
                </select>
                {% if errors.module_id %}<small class="text-danger">{{ errors.module_id }}</small>{% endif %}
            </div>

            <div class="form-group">
                <label for="file">File</label>
                <input type="file" name="file" id="file" class="form-control"
                    accept="image/*,application/pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.txt,
                        .html,.css,.js,.ts,.json,.xml,.py,.php,.java,.cpp,.c,.cs,.rb,.go,.sh,.sql,.swift" />
            </div>

            <div class="form-group">
                <label for="max_score">Max Score</label>
                <input type="text" class="form-control" id="max_score" name="max_score"
                    value="{{ form_data.max_score|default:'' }}" />
                {% if errors.max_score %}<small class="text-danger">{{ errors.max_score }}</small>{% endif %}
            </div>
        </div>

        <div class="form--group mt-2 d-flex justify-content-end">
            <button type="submit" class="operation--form-btn">Submit</button>
        </div>
    </form>
</div>