<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} | SUM{% endblock %}</title>
    <link rel="icon" sizes="192x192" href="{% static 'images/favicon.ico' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'libs/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

    <div class="layout">
        <header class="container-fluid">
            {% with url_name=request.resolver_match.url_name %}
            {% if url_name == 'show_register' or url_name == 'welcome' or url_name == 'show_student_login' or url_name == 'show_teacher_login' or url_name == 'show_admin_login' %}
            {% else %}
                {% block navbar %}
                    {% include 'components/navbar.html'%}
                {% endblock %}
            {% endif %}
            {% endwith %}
        </header>

        <main class="container-fluid">
            {% block content %}{% endblock %}
        </main>

        {% include 'components/footer.html' %}
    </div>

    <script src="{% static 'libs/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'libs/js/jquery.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>