<div class='position-absolute w-100 h-100 overflow-hidden py-3 px-3 class--module'>

    {% if not currentmodule %}
        <p class='text-center'>There is no modules right now. We will upload soon!</p>
    {% else %}
        <div class="d-flex justify-content-between align-items-center gap-1 py-3 mb-1 module--header">
            <h6>Module : {{currentmodule.module_code}} {{currentmodule.name}}</h6>

            <div class="d-flex align-items-center gap-1 module--btn">

                {% if user.is_teacher %}
                    <a href="{% url 'upload_lesson' course_id %}" class='create--btn'>Upload</a>
                {% endif %}

                <select 
                id="module-selector" 
                class='module--selector'
                {% comment %} default:"{{currentmodule.module_code}}" {% endcomment %}
                >
                    {% for module in modules %}
                        <option value="{% url 'sum_student:module' program.program_id module.module_code %}" {%if currentmodule.module_code == module.module_code%}selected{% endif %}>Module  {{module.module_code}}</option>
                    {% endfor %}   
                </select>
            </div>
        </div>

        <div class="position-relative  module--body">
            <ul class="position-absolute w-100 h-100 overflow-x-hidden overflow-y-scroll d-flex flex-column gap-2 p-0">
                {% if lessons|length == 0 %}
                    <h6 class='text-center mt-5 '>No Tutorial Found!</h6>
                {% else %}
                    {% for lesson in lessons %}
                        {% include "student/module/moduleitems.html" with lesson=lesson %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    {% endif %}

</div>