{% load heroicons %}

<li>
    <div class="py-1 px-3 module--item">
        <div class='d-flex justify-content-center align-items-center gap-3 px-1'>
            <span class="rounded-circle d-flex justify-content-center align-items-center module--icon" >
                {% heroicon_outline 'envelope' size='30px' class='icon' %} 
            </span>

            <div class="module--group">
                <span class='label'>Title</span>
                <span class='description'>{{lesson.title}}</span>
            </div>
        </div>

        <div class='container row row-cols-3 align-items-center'>

            <div class="module--group">
                <span class='label'>Teacher</span>
                <span class='description'>{{currentmodule.teacher.name}}</span>
            </div>

            <div class="module--group">
                <span class='label'>Date</span>
                <span class='description'>{{lesson.start_date}}</span>
            </div>
            
            <div class="module--group">
                <span class='label'>Link</span>
                <span class='description'><a class='d-block overflow-hidden text-nowrap' href="https://www.w3schools.com" target="_blank" style='width: 90%;'> href="https://www.w3schools.com" target="_blank"</a></span>
            </div>
        </div>
    </div>
</li>