<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGE NOT FOUND | SUM</title>
    <link rel="icon" sizes="192x192" href="{% static 'images/favicon.ico' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'libs/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <div class="container text-center mt-5 pt-5">
        <h1 class="display-1 text-orange fw-bold">404</h1>
        <p class="lead text-secondary">Oops! The page you're looking for doesn't exist.</p>
        <a href="{% url 'welcome' %}" class="btn btn-primary mt-3">Back to Start</a>
    </div>
</body>

</html>