{% extends "layouts/base.html" %} 
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/student_dashboard.css" %}">
{% endblock%}

{% block content %}
        
    {% if user.role == 'student' %}
        {% include "components/_studentprograms.html" %}
    {% endif %}

    {% if user.role == 'teacher' %}
        <div class='w-100 h-100 overflow-x-hidden overflow-y-scroll p-4'>
            <p class='hayhay'>Teacher Dashboard</p>
        </div>
    {% endif %}

{% endblock %}

{% block footer %}
    {% include "components/footer.html" %}
{% endblock footer %}