{% extends "layouts/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/program_details_layout.css" %}">
    <link rel="stylesheet" href="{% static "css/sidebar.css" %}">
    <link rel="stylesheet" href="{% static "css/operation.css" %}">
{% endblock  %}


{% block content %}
    <div class='w-100 h-100 overflow-hidden program--layout'>
        {% include "ui/components/sidebar.html" %}
        {% include "ui/components/operation.html" %}
    </div>
{% endblock  %}

{% block extra_js %}
    <script src="{% static "js/module.js" %}"></script>
    <script src="{% static "js/assignment.js" %}"></script>
    <script src="{% static "js/scheduleTable.js" %}"></script>
{% endblock %}