{% extends "layouts/base.html" %}
{% load heroicons %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/program_details_layout.css" %}">
    <link rel="stylesheet" href="{% static "css/sidebar.css" %}">
    <link rel="stylesheet" href="{% static "css/operation.css" %}">
    <link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/profile/profile.css' %}">
{% endblock  %}
{% block title %}MY PROFILE{% endblock %}


{% block content %}
    <div class='w-100 h-100 overflow-hidden program--layout'>
        {% include "teacher/sidebar.html" %}
        <div class='w-100 h-100 overflow-hidden py-2 px-3 class--operation'>
            <div class='shadow-sm operation--header'>
                <span class="class--title">
                    {{ program.name }} {% heroicon_outline 'chevron-right' class='icon' %} {{ assignment.title }}
                </span>
        
                <div class="class--btn-group">
                </div>
            </div>
            <div class='position-relative shadow-sm overflow-hidden operation--body'>
                    <div class='position-absolute w-100 h-100 overflow-scroll py-3 px-3 assignment--details'>

                        <div class="profile-container col-11 col-md-6 mx-auto">
                            <div class="profile-card">
                                <p><strong>Nickname:</strong> {{ registration.nickname }}</p>
                            </div>
                
                            <div class="mt-4 d-flex justify-content-between">
                                <a href="{% url 'sum_teacher:show_edit_nickname' program.program_id %}" class="btn btn-icon" data-bs-toggle="tooltip" title="Edit Nickname">
                                    {% heroicon_outline "pencil-square" class="h-6 w-6 text-primary" %}
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    {% if messages %}
        <div class="alert-msg">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock  %}

{% block extra_js %}
    <script src="{% static "js/module.js" %}"></script>
    <script src="{% static "js/assignment.js" %}"></script>
    <script src="{% static "js/scheduleTable.js" %}"></script>
{% endblock %}