{% extends "layouts/base.html" %}
{% load heroicons %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/program_details_layout.css" %}">
    <link rel="stylesheet" href="{% static "css/sidebar.css" %}">
    <link rel="stylesheet" href="{% static "css/operation.css" %}">
    <link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
{% endblock  %}
{% block title %}PROGRAM PEOPLE{% endblock %}


{% block content %}
    <div class='w-100 h-100 overflow-hidden program--layout'>
        {% include "teacher/sidebar.html" %}
        <div class='w-100 h-100 overflow-hidden py-2 px-3 class--operation'>
            <div class='shadow-sm operation--header'>
                <span class="class--title">
                    {{ program.name }} {% heroicon_outline 'chevron-right' class='icon' %} People
                </span>
        
                <div class="class--btn-group">
                </div>
            </div>
            <div class='position-relative shadow-sm overflow-hidden operation--body'>
                    <div class='position-absolute w-100 h-100 overflow-scroll py-3 px-3 class--people'>
                        
                        <div class='d-flex justify-content-between'>
                            <h4>Teacher</h4>
                            <span>{{ teachers|length }} teachers</span>
                        </div>

                        <ul class='p-0 mb-5 class--teacher'>
                            {% for teacher in teachers %}
                                <li class='d-flex justify-content-start align-items-center gap-3 border-bottom border-dark-subtle p-3 people--item'>
                                    <span class='d-block p-2 rounded-circle ' style='background-color: var(--secondary-bg-color);'>
                                        {% heroicon_outline 'user' size='20px' %}
                                    </span>
                                    <span>
                                        {{ teacher.nickname|default:"(No Nickname)" }}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>

                        <div class='d-flex justify-content-between'>
                            <h4>Student</h4>
                            <span>{{ students|length }} Students</span>
                        </div>

                        <ul class='p-0 m-0 calss--student'>
                            {% for student in students %}
                                <li class='d-flex justify-content-between align-items-center gap-3 border-bottom border-dark-subtle p-3 people--item'>
                                    <span class='d-block p-2 rounded-circle ' style='background-color: var(--secondary-bg-color);'>
                                        {% heroicon_outline 'user' size='20px' %}
                                    </span>
                                    <span>
                                        {{ student.nickname|default:"(No Nickname)" }}
                                    </span>
                                    <span>{{ student.student_code }}</span>
                                    <span>{{ student.get_payment_status_display }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
            </div>
        </div>
    </div>

    {% if messages %}
        <div class="alert-msg">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock  %}

{% block extra_js %}
    <script src="{% static "js/module.js" %}"></script>
    <script src="{% static "js/assignment.js" %}"></script>
    <script src="{% static "js/scheduleTable.js" %}"></script>
{% endblock %}