{% load heroicons %}

<li>
    <div class="py-1 px-3 activity--item">
        <div class='d-flex justify-content-center align-items-center gap-3 px-1'>
            <span class="rounded-circle d-flex justify-content-center align-items-center activity--icon" >
                {% heroicon_outline 'envelope' size='30px' class='icon' %} 
            </span>

            <div class="activity--group">
                <span class='label'>Title</span>
                <span class='description'>SDLC vs STLC adsfadfasdf</span>
            </div>
        </div>

        <div class='d-flex justify-content-end align-items-center gap-4'>

            <div class="activity--group">
                <span class='label'>Module</span>
                <span class='description'>1</span>
            </div>

            <div class="activity--group">
                <span class='label'>Type</span>
                <span class='description'>Presentation</span>
            </div>
            
            <div class="activity--group">
                <span class='label'>Due Date</span>
                <span class='description'>Feb-2-2025</span>
            </div>
        </div>
    </div>
</li>