<div class='position-absolute w-100 h-100 p-1 overflow-x-hidden overflow-y-scroll class--activity'>
    <ul class='p-4 m-0 d-flex flex-column gap-2'>
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
    </ul>
</div>