<div class='position-absolute w-100 h-100 p-1 overflow-x-hidden overflow-y-scroll class--activity'>

    {% if user.role == 'teacher' %}
        <div class='d-flex justify-content-end pt-2 px-3'>
            <a href="{% url 'activity_create' course_id %}" class='create--btn'>Create Activity</a>
        </div>
    {% endif %}

    <ul class='p-3 m-0 d-flex flex-column gap-2'>
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
        {% include "components/_activity_item.html" %}
    </ul>
</div>