{% load heroicons %}
{% csrf_token %}
<div class="form-box form-group">
    {% heroicon_outline "user" class="w-5 h-5 form-icon" %}
    <input type="text" name="email" class="form-control" placeholder="email" autocomplete="off"
        value="{{ request.session.user_login_email|default:'' }}">
</div>

<div class="form-box form-group my-3">
    {% heroicon_outline "lock-closed" class="w-5 h-5 form-icon" %}
    <input type="password" name="password" class="form-control" placeholder="password" autocomplete="new-password">
</div>

<div class="auth-linker">
    <small>Don’t have an account yet? <a href="{% url 'show_register' %}" >Register here</a></small>
</div>

<div class="d-grid mt-3">
    <button type="submit" class="btn btn-submit submit-btn">Login</button>
</div>