{% load static %}

<nav class="navbar navbar-expand-lg px-3 py-0 nav--style">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'welcome' %}">
      <img src="{% static 'images/img_logo.png' %}" alt="" />
    </a>

    <button
      class="navbar-toggler nav--toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pb-3 p-lg-0" id="navbarNav">
      {% include "components/_student_nav_items.html" %}

      <div id="profile" class="pt-1 p-lg-0">
        <a href="#">
          <img src="{% static "images/default-user.jpg" %}" alt="prifile
          picture" width='45px' height='45px'>
        </a>
      </div>
    </div>
  </div>
</nav>
