{% load heroicons %}

<aside class='d-flex justify-content-between flex-column p-3 side--bar my-2'>
    <ul class='position-relative d-flex flex-column justify-content-center m-0 p-3 side--nav'>
        {% with url_name=request.resolver_match.url_name %}
            <li> 
                <a href="" class="{% if url_name == 'admin_dashboard' %}active{% endif %}">
                    {% heroicon_outline 'home' size='20px' %}
                    <span>Dashboard</span>
                </a>
            </li>
            <li> 
                <a href="">
                    {% heroicon_outline 'academic-cap' size='20px' %} 
                    <span>Programs</span>
                </a>
            </li>
            <li>
                <a href="" class="{% if url_name == 'activity' %}active{% endif %}">
                    {% heroicon_outline 'rocket-launch' size='20px' %} 
                    <span>Activities</span>
                </a>
            </li>
            <li>
                <a href="">
                    {% heroicon_outline 'user' size='20px' %}
                    <span>Users</span>
                </a>
            </li>
            <li>
                <a href="">
                    {% heroicon_outline 'clock' size='20px' %}
                    <span>Classes</span>
                </a>
            </li>
            <li>
                <a href="">
                    {% heroicon_outline 'check-circle' size='20px' %}
                    <span>Rolecall</span>
                </a>
            </li> 
            <li>
                <a href="">
                    {% heroicon_outline 'user-minus' size='20px' %}
                    <span>Leaves</span>
                </a>
            </li>
        {% endwith %}
    </ul>

    <div class="logout--btn px-3">
        <a href="{% url 'sum_admin:logout' %}" class="logout-btn">
            {% heroicon_outline 'arrow-left-start-on-rectangle' size='20px' %}
            <span>Logout</span>
        </a>
    </div>
</aside>