{% load heroicons %}

<aside class='d-flex justify-content-between flex-column p-3 side--bar my-2'>
    <ul class='position-relative d-flex flex-column justify-content-center m-0 p-3 side--nav'>
        {% with url_name=request.resolver_match.url_name %}
            <li> 
                <a href="{% url 'sum_admin:program_dashboard' program.program_id %}" class="{% if url_name == 'program_dashboard' %}active{% endif %}">
                    {% heroicon_outline 'chart-pie' size='20px' %}
                    <span>Dashboard</span>
                </a>
            </li>
            <li> 
                <a href="">
                    {% heroicon_outline 'book-open' size='20px' %} 
                    <span>Modules</span>
                </a>
            </li>
            <li>
                <a href="{% url 'sum_admin:program_activities' program.program_id %}" class="{% if url_name == 'program_activities' %}active{% endif %}">
                    {% heroicon_outline 'rocket-launch' size='20px' %} 
                    <span>Activities</span>
                </a>
            </li>
            <li>
                <a href="{% url 'sum_admin:program_users' program.program_id %}"
                    class="{% if url_name == 'program_students' or url_name == 'program_teachers' or url_name == 'program_users' %}active{% endif %}">
                    {% heroicon_outline 'user-group' size='20px' %}
                    <span>People</span>
                </a>
            </li>
            <li>
                <a href="">
                    {% heroicon_outline 'clock' size='20px' %}
                    <span>Classes</span>
                </a>
            </li>
            <li>
                <a href="">
                    {% heroicon_outline 'check-circle' size='20px' %}
                    <span>Rolecall</span>
                </a>
            </li> 
            <li>
                <a href="">
                    {% heroicon_outline 'user-minus' size='20px' %}
                    <span>Leaves</span>
                </a>
            </li>
        {% endwith %}
    </ul>

    <div class="logout--btn px-3 d-none d-md-inline-block">
        <a href="{% url 'sum_admin:logout' %}" class="logout-btn">
            {% heroicon_outline 'arrow-left-start-on-rectangle' size='20px' %}
            <span>Logout</span>
        </a>
    </div>
</aside>