{% load heroicons %}


<div class='position-absolute w-100 h-100 overflow-scroll py-3 px-3 assignment--details'>
    <button id='back-button'>{% heroicon_outline 'arrow-long-left' %} Back</button>

    <div class='details'>
        <div class='details--header'>
            <label class='label'>Title</label>
            <h5>JavaScript Assignment</h5>
        </div>

        <div class='details--body'>
            <label>Description</label>
            <p>
                Assignment_1 (js)
1. Create the “Payment Registration” form in HTML web page as illustrate as below the
Figure. The Application Form is validated through JavaScript editing routines, if
necessary, you use regular expression.
(i) The FirstName field cannot be blank and enters no more than 9 characters for this
data.
(ii) The Last Name field cannot be blank and enters data which is no more than 7
characters.
(iii) Also the Street, City, State and Country fields cannot be blank.
(iv) The Post Code field must check 5 numeric characters.
(v) The Card Number field cannot be blank and input data must be numbers.
(vi) The Expiry date cannot be blank.
(vii) Select one choice in radio buttons in Payment Information.
(viii) After then, you click “Submit my details” button, alert with "Thanks You!" message.
(ix) Resets the form to its initial state if a reset is performed.


Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum dicta facere laborum explicabo vero non voluptates. Quo, at! Maxime dignissimos consectetur voluptatem, corporis quos beatae tenetur qui. Quidem, soluta nulla.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nam aperiam voluptatibus delectus ducimus nisi facilis dolore, odio tempora, consectetur esse illum dignissimos, quidem natus eius voluptate alias non laborum!
            </p>
        </div>

        <form action="" class='submit--form'>
            <input type="file">
            <button type='submit'>Submit</button>
        </form>
    </div>
</div>