{% load heroicons %}

<div class="position-absolute w-100 h-100 overflow-x-hidden overflow-y-scroll p-3">
  <div class="py-2 px-3">{% include "ui/components/backbutton.html" %}</div>

  <form id="assignment-create-form" class="p-2 mt-2 operation--form">
    <h5 class="mb-3">Create New Assignment</h5>

    <div class="d-flex flex-column gap-2">
      <div class="form-group">
        <label for="assignment-title">Enter Title</label>
        <input
          type="text"
          class="form-control"
          id="assignment-title"
          placeholder="Enter Title"
          required
        />
      </div>

      <div class="form-group">
        <label for="assignment-due">Due Date</label>
        <input type="date" class="form-control" id="assignment-due" required />
      </div>

      <div class="form-group">
        <label for="assignment-module">Module</label>
        <select
          class="form-select"
          id="assignment-module"
          aria-label="Default select example"
        >
          <option selected>Select Module</option>
          <option value="1">Module : 1</option>
          <option value="2">Module : 2</option>
          <option value="3">Module : 3</option>
        </select>
      </div>

      <div class="form-group">
        <label for="assignment-description">description</label>
        <textarea class="form-control" id="assignment-description" row='10'></textarea>
      </div>

    </div>

    <div class="form--group mt-2 d-flex justify-content-end">
      <button type="submit" class="operation--form-btn">Submit</button>
    </div>
  </form>
</div>
