<div class='position-absolute w-100 h-100 overflow-scroll p-3  class--schedule'>
    <div>
        <h6>Class Schedules</h6>
    </div>

    <table id='schedule--table'>
        <thead>
            <tr>
                <th onclick="sortTable(0)">Module</th>
                <th onclick="sortTable(1)">Topic</th>
                <th onclick="sortTable(2)">Start Time</th>
                <th onclick="sortTable(3)">End Time</th>
                <th onclick="sortTable(4)">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1002</td>
                <td>Web Development</td>
                <td>04/05/2025 19:30</td>
                <td>04/05/2025 21:30</td>
                <td>Finished</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>DBMS</td>
                <td>04/06/2025 19:30</td>
                <td>04/06/2025 21:30</td>
                <td>Scheduled</td>
            </tr>
            <tr>
                <td>1003</td>
                <td>Software Development</td>
                <td>04/07/2025 19:30</td>
                <td>04/07/2025 21:30</td>
                <td>Scheduled</td>
            </tr>
        </tbody>
    </table>
</div>