
<div class='position-absolute w-100 h-100 overflow-scroll py-3 px-3 class--people'>
    
    <div class='d-flex justify-content-between'>
        <h4>Teacher</h4>
        <span>3 teachers</span>
    </div>

    <ul class='p-0 mb-5 class--teacher'>
        {% include "ui/components/_peopleitems.html" %}
        {% include "ui/components/_peopleitems.html" %}
        {% include "ui/components/_peopleitems.html" %}
    </ul>

     <div class='d-flex justify-content-between'>
        <h4>Student</h4>
        <span>50 students</span>
    </div>


    <ul class='p-0 m-0 calss--student'>
        {% include "ui/components/_peopleitems.html" %}
        {% include "ui/components/_peopleitems.html" %}
        {% include "ui/components/_peopleitems.html" %}
        {% include "ui/components/_peopleitems.html" %}
    </ul>
</div>